h1, p {
    color: coral;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#sid {
    border: 2px solid blue;
    border-color: pink purple peru gold;
}

.cid {
    background-image: url(car.jfif);
    background-position: center;
    background-repeat: no-repeat;
}
