@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="https://th.bing.com/th/id/OIP.FP-fCE5FdFHP4RRkWVvAmgHaCR?pid=ImgDet&rs=1" />
    @*<img src="https://th.bing.com/th/id/OIP.kRfWOSw_6d04T7gQzMxhQAHaEK?pid=ImgDet&rs=1" />*@

    @*<h1 class="display-4">Welcome</h1>*@
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
